.nz-graph.scene .node.meta .nodecolortarget {
  cursor: default;
}

.vertices-node {
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.group-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #1890ff;
  font-size: 12px;
  background: rgba(24,144,255,.15);
  overflow: hidden;
}
.group-wrapper .attr-wrap .attr .attr-name {
  font-weight: 700;
  width: 90px;
  display: inline-block;
}
.group-wrapper .group-header {
  height: 24px;
  width: 100%;
  line-height: 24px;
  background: #1890ff;
  padding: 0 10px;
}

.group-wrapper .group-body {
  padding: 5px;
}

.group-wrapper .node-title {
  font-size: 14px;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  color: #fff;
  transition: color ease .3s;
}

.group-wrapper.node-title .action-title {
  cursor: pointer;
}

.group-wrapper a.toggle-expand {
  display: inline-block;
  float: right;
  color: #fff;
}
.group-wrapper .sub-title {
  font-size: 12px;
  margin: 6px 0 0;
  font-weight: 400;
  word-break: break-all;
  color: rgba(0,0,0,.65);
  line-height: 14px;
  min-height: 70px;
}
.graph-make {
  fill: #fff;
}

.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: -.125em;
  text-align: center;
  text-transform: none;
  line-height: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anticon svg {
  display: inline-block;
}

.group-wrapper .node-title .more-icon, .group-wrapper.expanded .attr-wrap, .group-wrapper.expanded .sub-title {
  display: none;
}

.nz-graph.scene .edge > path.edgeline {
  fill: none;
  stroke: #7d7d7d;
  stroke-linecap: round;
  stroke-width: .85;
}

.nz-graph .nz-graph-minmap {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.nz-graph-minmap {
  background-color: #fff;
  transition: opacity .3s linear;
  pointer-events: auto;
}
.nz-graph-minmap rect {
  fill: #fff;
  stroke: #000c17;
  stroke-width: 1px;
  fill-opacity: 0;
  -webkit-filter: url(#minimapDropShadow);
  filter: url(#minimapDropShadow);
  cursor: move;
}
.nz-graph-minmap svg {
  position: absolute;
}